* {
  padding: 0px;
  margin: 0px;
}
header {
  padding: 10px;
  font-size: 40px;
  display: flex;
  font-family: "Comfortaa";
  letter-spacing: 3px;
  color: #f13c20;
  height: 40px;
  width: 95%;
  margin: auto;
  flex: 1;
}

body {
  background-color: black;
}

.andmed {
  font-size: 15px;
  justify-content: flex-end;
  flex: 1;
  display: flex;
  align-items: flex-end;
  list-style: none;
}

.andmed2 {
  text-decoration: none;
  color: #f13c20;
  padding: 20px;
}

.pildid {
  display: flex;
  width: 95%;
  margin: auto;
}


.pildid nav img{
  width: 240px;
  float: left;
  position: relative;
}

.esimene figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.esimene figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}